<% include partials/header %>
    <% include partials/navbar %>
        <div class="row mt">
            <div class="col s12 m3 wow fadeInDown" data-wow-delay="0.5s">
                    <% if (currentUser){ %>
                    <div class="custom-container">
                        <h1 class="white-h1">Logged in as <span style="color:red"><%= currentUser.username %></span></h1>
                        <p style='color:white'>Coins: <span style="color:red"><%= currentUser.coins %></span> </p>
                        <p style="color:white">Fightscore: <span style="color:red"><%= currentUser.score %></span></p>
                        <p style="color:white">Attack: <span style="color:red"><%= currentUser.attack %></span></p>
                        <p style="color:white">Defense: <span style="color:red"><%= currentUser.defense %></span></p>

                        <a href="/userhome" class="red accent-4 btn-large">Fight</a> <br/>
                        <a href="/logout" class="blue-grey darken-3 btn-large" style="margin-top:5%">Log Out</a>
                    </div>
                   <% }else{ %>
                    <div class="custom-container red-border rounded-top-right">
                        <h1 class="white-h1">Sign Up!</h1>
                        <form class="s12 m3 lg3"action="/signup"method="POST">
                            <label>Email</label>
                            <input class="validate" type="email" name="email" placeholder="Your Email Address" required>
                            <label>Desired Username</label>
                            <input class="validate" type="text" name="username" placeholder="Desired Username" required>
                            <label>Desired Password</label>
                            <input class="validate" type="password" name="password" placeholder="Desired Password" required>
                            <label>Gender</label>

                            <div id="radios">
                                <p>
                                    <input name="gender" type="radio"value="Male" id="test1" />
                                    <label for="test1">Male</label>
                                </p>
                                <p>
                                    <input name="gender" type="radio" value="Female" id="test2" />
                                    <label for="test2">Female</label>
                                </p>
                            </div>
                            <button type="submit" class="blue-grey darken-3 btn-large">Sign Up</button>
                        </form>
                    </div>
                    <div class="custom-container mt red-border rounded-bottom-right">
                        <h1 class="white-h1">Log In</h1>
                        <form class="s12 m3 lg3"action="/login" method="POST">
                            <input class="validate" type="text" name="username" placeholder="Username"  required>
                            <input class="validate" type="password" name="password" placeholder="Password"  required>
                            <button type="submit" class=" blue-grey darken-3 btn-large">Login</button>
                        </form>
                    </div>
                <% } %>
            </div>
            <h1 class="white-text large-text underlined-text">ConquerKill: For Euphronos</h1>
            <p class="white-text text-center">Battle other players online.... <span class="red-text">Who will you become?</span></p>
            <div class="col s12 m6 negative-margin-top">
                <img src="/gladiator.gif" class="scrollbar-top relative z-index-first">
                <div class="main-container negative-top">
                    <p class="text-left">It's 2050 and a new planet has been discovered in our galaxy: Euphronos. On it, we find an undeveloped world of humans just like us, along with
                        animals of every species. We quickly find that the humans living on Euphronos are very different from the humans on Earth. They are the equivalent of gladiators,
                        fighting their way to victory with no remorse for their opponents. <br/><br/>

                        You decide to join them. You're thrown into Euphronos head-first with nowhere to go but into the fight pit. Citizens of Euphronos glare at you, examining how weak
                        you are and imagining how easy it will be to beat you and mug you of your iphone. They're howling and yelling in a foreign language, screaming that
                        they deserve to fight you first. <br/><br/>

                        They hurdle you a crappy shield and sword and you stand your ground, preparing to fight and defeat everyone and claim your throne in Euphronos.
                    </p>
                    <div class="container wow fadeIn mt">
                        <img class="mySlides" src="http://www.sickchirpse.com/wp-content/uploads/2013/06/Gaming-Gladiator.jpg" style="width:100%">
                        <img class="mySlides" src="https://i.pinimg.com/736x/f6/f6/fc/f6f6fc949d396400cc248911b4ef5e7f--roman-gladiators-rome-antique.jpg" style="width:100%">
                        <img class="mySlides" src="https://s3.amazonaws.com/user-media.venngage.com/765757-e4ad6cfb87757570fa87522c8b439a76.jpg" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <h3 class="red-text text-center main-h1">Hot Items!</h3>
                <div class="custom-container dark-border rounded-top">
                    <h1 class="white-h1">Mace Of Euphronos</h1>
                    <p style="color:rgb(241, 1, 1);font-family:Spectral SC">+15 Attack!</p>
                    <p style="color:grey">Cost: 1000 Coins</p>
                    <img src="https://vignette.wikia.nocookie.net/mkwikia/images/6/63/Mace.png/revision/latest?cb=20110416184028" class="padded-image">
                </div>
                <div class="custom-container mt dark-border rounded-bottom">
                    <h1 class="white-h1">Greatsword Of Planet Earth</h1>
                    <p style="color:rgb(241, 1, 1);font-family:Spectral SC">+50 Attack!</p>
                    <p style="color:grey">Cost: 10,000 Coins</p>
                    <img src="http://pngimg.com/uploads/sword/sword_PNG5526.png" class="padded-image">
                </div>
            </div>
        </div>


<% include partials/footer %>
